.get-students-list{
/* background-color: #52523d; */
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: center;

}

.students-list{
    height: fit-content;
    width: 600px;
    background-color: rgb(223, 120, 23);
    justify-items: center ;
}
.list-box{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: aquamarine;
    border-radius: 5px;
    padding: 10px;
    margin: 2px;
}